server:
   port: 8666
spring:
     application:
             name: eureka-server
eureka:
   instance:
         hostname: 127.0.0.1
   server:
     renewal-percent-threshold: 0.5
     enable-self-preservation: true
   client:
     register-with-eureka: false
     fetch-registry: false
     serviceUrl:
           defaultZone: http://127.0.0.1:8666/eureka/ 